name: Security

on:
  schedule:
    - cron: '17 3 * * 1'
  push:
    branches: [main]
  pull_request:

permissions:
  contents: read
  security-events: write

jobs:
  codeql:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        language: [ 'javascript-typescript', 'python' ]
    steps:
      - name: Checkout
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
      - name: Initialize CodeQL
        uses: github/codeql-action/init@f88c32b83f8d50f4f7b5f263ac50e30218bd0f39 # v3.28.8
        with:
          languages: ${{ matrix.language }}
      - name: Autobuild
        uses: github/codeql-action/autobuild@f88c32b83f8d50f4f7b5f263ac50e30218bd0f39 # v3.28.8
      - name: Analyze
        uses: github/codeql-action/analyze@f88c32b83f8d50f4f7b5f263ac50e30218bd0f39 # v3.28.8

  trivy-config-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
      - name: Trivy filesystem scan
        uses: aquasecurity/trivy-action@6e8e9c5fb34ef0f8bc3f0ce7f6f4f2c660d0f22f # v0.28.0
        with:
          scan-type: fs
          format: table
          severity: HIGH,CRITICAL
          ignore-unfixed: true
          exit-code: '1'
